.skills{
    padding: 0 0 0px 0;
    width: 60%;
    margin-bottom: 100px;

    &__container{
        background-color: #03071E;
        border-radius: 50px;
        text-align: center;
        color: #E5E5E5;
        padding: 40px 50px;

        .skills__title{
            font-size: 2.5rem;
            font-weight: 700;
        }

        .skills__carousel{
            
            .skills__item{
                text-align: center;
                display: flex;
                flex-direction: column;


                img{
                    width: 50%;
                    margin:20px auto 20px auto;
                }
            }
        }
    }

}